.selectCourse {
    margin: 5px;
    visibility: hidden
}

select {
    margin: 5px;
}

h5 {
    margin: 5px
}

.schedule{
    height:1000px;
    width:80%;
    margin: 15px;

}

.tableDays {
    border:double;
    text-align:center;
    width: 10%;
}

.tableCells {
    width: 10%;
    border: double;
    text-align:center;
    font-size:25px;
}

.tableTimeStamp {
    text-align: center;
    border: double;
}

th {
    width: 5%;
}

.main-wrapper {
    display: flex;
    height: 100%;


}



input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 50%;
        border-radius: 5px;
        background: #ffffff;
        cursor: pointer;
        margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/ /* Add cool effects to your sliders! */
    }

.schedule-wrapper {
    margin-left: 50px;
    display: flex;
}

.time {
    margin-top: 50px;
    vertical-align: middle;
}

.dayGroup {
    position: relative;
    margin-left: 50px;
    width: 100px;
    text-align: center;
    /*background-color:red*/
}

.item {
    /*margin-top: 175px;*/
    top: 120px;
    left: 0px;
    position: absolute;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-color: black;
    box-shadow: 5px 5px 20px #888888;
    background-color: #d181ff;
    border-radius: 20px;
    font-weight: bold;
    font: inherit;
    font-size: 1.4rem;
    color: white;
}

    .item:hover {
        opacity: .9;
        cursor: pointer;
    }

.item2 {
    top: 300px;
    left: 0px;
    position: absolute;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    width: 100px;
    border: 1px solid;
    border-color: black;
    box-shadow: 5px 5px 20px #888888;
    background-color: orangered;
    border-radius: 20px;
    font-weight: bold;
    font: inherit;
    font-size: 1.4rem;
    color: white;
}

    .item2:hover {
        opacity: .9;
        cursor: pointer;
    }

.line {
    position: absolute;
    height: 1px;
    margin-top: -10px;
    content: "";
    width: 55%;
    display: block;
    border-bottom: double;
    left: 100px;
    opacity: .25;
    z-index: -1;
}
