
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/*Nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue; /*Nav bar color*/
    position: -webkit-sticky; /* Safari */
    /*position: sticky;
            top: 0;*/
}

li {
    float: right;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }


.homeImg {
    background-image: url(https://c8.alamy.com/comp/J3A6TX/messy-office-desk-J3A6TX.jpg);
    background-size: cover;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-wrapper {
    position: sticky;
    top: 0;
}

th {
    padding: 50px;
    font-size: 75px;
    width: 15%;
    border: double;
}

.table-wrapper {
    /*margin-top: 150px;*/
    position: center;
    /*margin-left: 25px;
    margin-right: 25px;*/
    width:100%;
    border-bottom:dashed
}


.stepsTable {
    border-spacing: 50px;
    border-collapse: separate;
    background-color: aqua;
}

.tdInfo {
    padding: 75px;
    font-size: 50px;
    text-align: center;
    width: 15%;
}


input{
    margin-bottom: 15px;
    height:25px;
}

label{
    font-size:25px;
    /*margin-top:-25px;*/
    
}

td{
    height:0;
    /*background-color:blue;*/
}

.selectCourse-wrapper {
    border: double;
    display: flex;
    text-align: center;
    height: 100%;
}

.selectCriteria-wrapper {
    border: double;
    display:block;
    text-align: center;
    height:100%;
}

.CourseNumInput {
    text-align: center;
    display: table;
    width: 33%;
}

.SectionInput {
    text-align: center;
    display: table;
    width: 33%;
    /*background-color:green;*/
}

.SubjectInput {
    text-align: center;
    display: table;
    width: 33%;
}

.selectClasses {
    margin-top:15px;
    margin-bottom: 15px;
    height: 25px;
    width:100%;
    display:flex
}

.onlinePreferDiv {
    text-align: center;
    display: block;
    width:100%;
    height:10%;
    margin-top:10%;
    margin-bottom:5%;
    /*border-bottom:dotted;*/
}

.onlinePreferCheckBox{
    width:25%;
    height:60%;
    margin-left:5%;
    margin-top:1%
}

.preferDaysDiv{
    width:100%;
    /*border-bottom:dotted;*/
}

.preferDaysTable {
    width:100%;
    height:100%
    
}

.daysTableTd{
    margin:0;
    height:100%
}

.timeOfDayDiv {
    /*display: flex;*/
    width: 100%;
    /*border-bottom: dotted;*/
    margin-bottom:5%
}

.timeOfDayTable{
    width:100%;
}

.timeOfDaysTableTd{
    height:100%;
    padding:5px;

}

button {
    height: 75px;
    width: 75%;
}

